<div id="games" class="frame container-fluid">
    <div class="col-md-12">
        <h1>Games</h1>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">League of Legends</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Counter Strike: Global Offensive</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Rainbow 6 Siege</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
    </div>
</div>